<template>
  <div>
    <ul>
      <li v-for="comment in this.comments">
        <span>{{ comment.text }}</span>
        <button v-on:click="deleteComment(comment.id)">Delete</button>
      </li>
    </ul>
    <form @submit.prevent="createComment">
      <label for="comment">Create comment</label>
      <textarea id="comment" v-model="text"></textarea>
      <button type="submit">create</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Comment',
  data () {
    return {
      text: '',
      comments: {}
    }
  },
  mounted () {
    this.getComments()
  },
  methods: {
    getComments: function () {
      this.axios.get('api/comment?post_id=' + this.$route.params.id)
        .then(response => {
          this.comments = response.data
        })
    },
    createComment: function () {
      let data = {
        text: this.text,
        post_id: this.$route.params.id
      }

      this.axios
        .post('api/comment', data)
        .then(response => {
          this.getComments()
          this.text = ''
        })
    },
    deleteComment: function (id) {
      this.axios.delete('api/comment/' + id)
        .then(response => {
          this.getComments()
        })
    }
  }
}
</script>
