<template>
  <div>
    <form @submit.prevent="login">
      <h1>Login</h1>
      <label>Email</label>
      <input v-model="email" placeholder="email"/>
      <label>Password</label>
      <input v-model="password" type="password" placeholder="password"/>
      <hr/>
      <button type="submit">Login</button>
    </form>
    <div>
      {{ info }}
    </div>
  </div>
</template>

<script>

export default {
  name: 'Login',
  data: function () {
    return {
      email: '',
      password: '',
      info: ''
    }
  },
  methods: {
    login: function () {
      let self = this
      let data = {
        email: this.email,
        password: this.password
      }
      this.axios
        .post('api/auth', data)
        .then(
          response => {
            localStorage.token = response.data.token
            localStorage.user_id = response.data.user_id
            this.$root.isAuth()
            self.$router.push({name: 'Profile'})
          }
        ).catch(error => console.log(error))
    }
  }
}
</script>
