<template>
  <div>
    <ul>
      <li v-if="!this.$root.auth">
        <router-link to="/login">
          login
        </router-link>
      </li>
      <li v-if="!this.$root.auth">
        <router-link to="/register">
          register
        </router-link>
      </li>
      <li v-if="this.$root.auth">
        <router-link to="/profile">
          profile
        </router-link>
      </li>
      <li v-if="this.$root.auth">
        <router-link to="/post">
          posts
        </router-link>
      </li>
      <li v-if="this.$root.auth">
        <a v-on:click="logout" href="#" >
          logout
        </a>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'Navigate',
  methods: {
    logout: function (event) {
      localStorage.clear()
      this.$root.isAuth()
      this.$router.push({name: 'Login'})
    }
  }
}
</script>
