<template>
  <div>
    <form v-if="!this.isInteger(this.$route.params.id)" @submit.prevent="createPost">
      <label for="text">Text:</label>
      <input id="text" type="text" v-model="text">
      <button type="submit">Create post</button>
    </form>
    <div v-if="this.isInteger(this.$route.params.id)">
      <span>{{ text }}</span>
      <span>{{ created_at }}</span>
    </div>
    <comment v-if="this.isInteger(this.$route.params.id)"></comment>
  </div>
</template>

<script>
import Comment from './Comment'
export default {
  name: 'PostOne',
  data () {
    return {
      text: '',
      created_at: ''
    }
  },
  mounted () {
    if (this.isInteger(this.$route.params.id)) {
      this.getPost()
    }
  },
  methods: {
    isInteger: function () {
      return !isNaN(parseInt(this.$route.params.id))
    },
    createPost: function () {
      let self = this
      let data = {
        user_id: localStorage.user_id,
        text: this.text
      }

      this.axios
        .post('api/post', data, {
          headers: {
            Authorization: 'Bearer ' + localStorage.token
          }
        })
        .then(response => {
          self.$router.push({name: 'Post'})
        })
    },
    getPost: function () {
      this.axios
        .get('api/post/' + this.$route.params.id)
        .then(response => {
          this.text = response.data.text
          this.created_at = response.data.created_at
        })
    }
  },
  components: {Comment}
}
</script>
