<template>
  <div>
    <router-link to="/post/new">Создать пост</router-link>
    <ul>
      <li v-for="post in posts">
        <router-link :to="'/post/' + post.id">
          <span>{{ post.id }}</span>
        </router-link>
        <input type="text" v-model="post.text">
        <button v-on:click="updatePost(post.id, post.text)">Update</button>
        <button v-on:click="deletePost(post.id)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'PostList',
  data () {
    return {
      posts: {}
    }
  },
  mounted () {
    this.getPosts()
  },
  methods: {
    deletePost: function (id) {
      this.axios
        .delete('api/post/' + id)
        .then(response => {
          this.getPosts()
        })
    },
    updatePost: function (id, text) {
      let data = {
        text: text
      }
      this.axios
        .put('api/post/' + id, data)
        .then(response => {
          this.getPosts()
        })
    },
    getPosts: function () {
      this.axios
        .get('api/post')
        .then(response => {
          this.posts = response.data
        })
    }
  }
}
</script>
