<template>
  <div>
    <form @submit.prevent="updateUser">
      <label for="name">Name:</label>
      <input type="text" id="name" v-model="name">

      <label for="email"></label>
      <input type="text" id="email" v-model="email">

      <button type="submit">Update</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      name: '',
      email: ''
    }
  },
  mounted () {
    this.getUser()
  },
  methods: {
    updateUser: function () {
      let data = {
        name: this.name,
        email: this.email
      }
      this.axios.put('api/user/' + localStorage.user_id, data)
        .then(response => {
          this.getUser()
        })
    },
    getUser: function () {
      this.axios
        .get('api/user/' + localStorage.user_id, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.token
          }
        })
        .then(response => {
          this.name = response.data.name
          this.email = response.data.email
        })
        .catch(error => console.log(error))
    }
  }
}
</script>
