<template>
  <div>
    <form class="login" @submit.prevent="register">
      <h1>Register</h1>
      <label>Name</label>
      <input required v-model="name" placeholder="name"/>
      <label>Email</label>
      <input required v-model="email" placeholder="email"/>
      <label>Password</label>
      <input required v-model="password" type="password" placeholder="password"/>
      <hr/>
      <button type="submit">Register</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data: function () {
    return {
      name: '',
      email: '',
      password: ''
    }
  },
  methods: {
    register: function () {
      let self = this
      let data = {
        name: this.name,
        email: this.email,
        password: this.password
      }
      this.axios
        .post('api/user', data)
        .then(response => {
          self.$router.push({name: 'Login'})
        })
    }
  }
}
</script>
