<template>
  <div id="app">
    <header>
      <navigate></navigate>
    </header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import Navigate from './components/Navigate'
export default {
  name: 'app',
  components: {Navigate}
}
</script>
